.metadata
.recommenders
*.project
project/.idea
project/.settings
project/testMessage/log
project/testMessage/target


project/distribution/.settings
project/distribution/target

project/mj-boss/.settings
project/mj-boss/target
project/mj-boss/log

project/mj-scene/.settings
project/mj-scene/target
project/mj-scene/log

project/mj-scene-douniu/.settings
project/mj-scene-douniu/target
project/mj-scene-douniu/log

project/mj-scene-zjh/.settings
project/mj-scene-zjh/target
project/mj-scene-zjh/log

project/mj-scene-pdk/.settings
project/mj-scene-pdk/target
project/mj-scene-pdk/log

project/mj-client/.settings
project/mj-client/target
project/mj-client/log

project/mj-gateway/.settings
project/mj-gateway/target
project/mj-gateway/log

project/mj-core/.settings
project/mj-core/target
project/mj-core/log

project/mj-data/.settings
project/mj-data/target
project/mj-data/log

project/mj-dao/.settings
project/mj-dao/target
project/mj-dao/log

project/mj-manager/.settings
project/mj-manager/target
project/mj-manager/log
project/mj-douniu/target/
